body,
html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 12px;
    color: #424242;
}

header {
    border-bottom: solid 4px #7d97ad;
    margin: 30px 0;
    padding-bottom: 15px;
}

img {
    width: 100%;
    height: auto;
}

/* Grid-based layout widths for Mobile */

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    width: 100%;
    display: flex;
}


.col-sm-3 {
    width: 25%;
}

.col-sm-4 {
    width: 33.33%;
}

.col-sm-5 {
    width: 41.66%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-7 {
    width: 58.33%;
}

.col-sm-8 {
    width: 66.66%;
}

.col-sm-9 {
    width: 75%;
}

.col-sm-10 {
    width: 83.33%;
}

.col-sm-11 {
    width: 91.66%;
}

.col-sm-12 {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-weight: 200;
    font-size: 2.8em;
    color: #2d3c49;
    text-align: right;
    margin: 22px 0 2px 0px;
}

h2 {
    font-weight: 300;
    font-size: 2.8em;
    color: #7d97ad;
    margin: 15px auto 10px auto;
    text-transform: capitalize;
}

h3 {
    font-weight: 400;
    font-size: 2.3em;
    color: #2d3c49;
    margin: 20px 0 15px 11px;
}

h4 {
    font-weight: 400;
    font-size: 1.4em;
    text-align: right;
    margin: 0;
}

a {
    font-weight: 200;
    font-size: 1.2em;
    padding: 10px;
}

/* Header */

.logo {
    width: 80px;
}

/* Featured Items */

.featured-items {
    text-align: center;
    flex-direction: column;
}

.featured-items > div {
    padding-top: 20px;
    margin: 0 auto;
}

/* Desktop media query - built mobile first */

@media (min-width: 750px) {
    h1 {
        font-size: 4.7em;
    }

    h2 {
        margin: 36px 0 10px 10px;
    }

    h3 {
        font-size: 1.7em;
        margin: 11px 0 0 11px;
        height: 35px;
    }

    h4 {
        font-size: 1.7em;
    }

    a {
        font-weight: 200;
        font-size: 1em;
    }

    .logo {
        width: 80px;
    }

    /* Featured Items */

    .featured-items {
        text-align: center;
        flex-direction: row;
    }
    .featured-items > div {
        padding-top: 0px;
        margin: 0;
    }
    .featured-middle {
        padding: 0 10px;
    }

    /* Grid-based layout widths for Desktop */

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 32.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}
