/* {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}
header {
    border-bottom: solid 4px #7d97ad;
    margin: 30px 0;
    padding-bottom: 15px;
}

img{
    width: 100%;
    height: auto;
}

.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;

}

.row {
    width: 100%;
    display: flex;

}


.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1 {
    font-weight: 200;
    font-size: 4.7em;
    color: #2d3c49;
    text-align: right;
    text-transform: uppercase;
    margin: 22px 0 2px 0px;
    letter-spacing: 2px;

}

h2 {
    font-weight: 300;
    font-size: 2.8em;
    color: #7d97ad;
    letter-spacing: 2px;
    margin: 36px 0 10px 10px;
    }

h3 {
    font-weight: 400;
    font-size: 2.7em;
    color: #2d3c49;
    letter-spacing: 2px;
    margin: 11px 0 0 11px;
    text-transform: uppercase;
    height: 70px;
    }

h4 {
    font-weight: 400;
    font-size: 1.7em;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}

a{
    font-weight: 200;
    font-size: 1.1em;
}

.center-text{
    text-align: center;
}

.featured-middle{
    margin: 0 25px;
}
.logo{
    width: 100px;
}
